*{margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
  
html{font-size: 62.5%;
       background-color: black;
     }
  
#logo{width: 100px;
        height: 100px;
     }
  
.header{display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: aqua;
       }
  
.nav{flex: 1;
     text-align: center;
     font-family: Calibri;
     font-size: large;
     }
  
.nav:hover{background-color: blue;
           color: white;
           cursor: pointer;
          }
  
.search{display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
       }
  
.img-container{display: inline-block;
               position: relative;
               margin: 8px;
               transition: transform 0.5s ease;
               will-change: transform;              
              }
  
.img-container img{width: 400px;
                   height: 400px;
                  }

.img-container img:hover{transform: scale(1.1);}
  
.img-container a{position: absolute;
                 display: flex; 
                 top: 0;
                 left: 0;
                 bottom: 0;
                 right: 0;
                 background-color: rgba(255,255,255,0.5);
                 justify-content: center;
                 align-items: center;
                 font-family: Calibri;
                 font-size: x-large;
                 visibility: hidden;
                 transition: visibility 0.5s ease;
                 will-change: visibility;
                }
  
.img-container img:hover + a{visibility: visible;
                             color: black;
                             transform: scale(1.1);
                            }
  
.footer{display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
       }
  
.fnav{flex: 1;
      text-align: center;
      font-family: Calibri;
      font-size: large;
      color: white;
     }
  
.fnav:hover{color: red;
            cursor: pointer;
           }
  
h1{margin-top: 20px;
   margin-bottom: 10px;
   color: orangered;
   font-family: Calibri;
  }
  